body {
    font-family: Verdana, sans-serif, serif;
    background: #037996;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background: #039617;
    padding: 50px;
    border-radius: 120px;
    box-shadow: 0 0px 10px rgb(0, 0, 0);
    width: 350px;
    text-align: center;
}
input {
    width: 100%;
    padding: 10px;
    margin: 16px 0;
}
button {
    padding: 15px;
    width: 60%;
    background: #07aecc4b;
    color: rgb(0, 0, 0);
    border: greenyellow;
}
.error {
    color: rgb(114, 4, 4);
}

.register-link {
  color: rgb(0, 0, 0);
}

.login-link {
  color: yellow;
}